src/main/resources/xsd/descuento.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.idat.edu.pe/ws/descuento"
           targetNamespace="http://www.idat.edu.pe/ws/descuento"
           elementFormDefault="qualified">

    <xs:element name="getDescuentoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cantidad" type="xs:int" />
                <xs:element name="precio" type="xs:double" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getDescuentoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="total" type="xs:double" />
                <xs:element name="mensaje" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>